<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<h1>Server per l' applicazione Febo</h1>
<h2> Prima prova scrivendo nell' url : "https://feboas.herokuapp.com/mobile/nome:ilmionome"</h2>



</body>
</html>
