<!DOCTYPE html>
<html>
<head>
    <title>febo-server</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    
</head>

<body style="background-image: url('../public/img/logo.jpeg');background-attachment: fixed;background-size:  50% 100% ;">
<h1 style="text-align: center; margin-top: 4.5%; ">Web Server per l' App di Febo</h1>


</body>
</html>
